<template>
  <div>
    <modalWindow v-model="showModel" @ok="createSubmit()" @cancel="cancel()" @closed="onClose()" title="Zmena hesla" :cancelText="'Zrušïť'" :okText="'Uložiť'" :small="true">
      <form>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group" :class="{ 'has-error': errors.has('newPassword') }">
              <label for="newPassword">Nové heslo</label>
              <input type="password" class="form-control" id="newPassword" placeholder="Zadaj nové heslo" v-model="credentials.newPassword" name="newPassword" maxlength="20" v-validate="'required|min:5|max:20'">
              <p class="text-danger" v-if="errors.has('newPassword')">{{ errors.first('newPassword') }}</p>
            </div>
            <div class="form-group" :class="{ 'has-error': errors.has('confirmPassword') }">
              <label for="confirmPassword">Nové heslo pre kontrolu</label>
              <input type="password" class="form-control" id="confirmPassword" placeholder="Zadaj nové heslo znova" v-model="credentials.confirmPassword" name="confirmPassword" maxlength="20" v-validate="'required|confirmed:newPassword'">
              <p class="text-danger" v-if="errors.has('confirmPassword')">{{ errors.first('confirmPassword') }}</p>
            </div>
          </div>
        </div>
      </form>
    </modalWindow>
  </div>
</template>

<script>
  import modal from 'vue-strap/src/Modal';
  import _ from 'lodash';
  import notificationService from 'services/notificationService';

  export default {
    components: {modalWindow: modal},
    data: () => ({
      credentials: {}
    }),
    computed: {
      editMode() {
        return this.user && this.user.id
      }
    },
    props: {
      showModel: {
        type: Boolean,
        default: false
      },
      model: {
        type: Object
      }
    },
    methods: {
      createSubmit() {
        this.protect();
        this.$validator.validateAll().then( () => {
          this.$store.dispatch('user/passwordChange', {credentials: this.credentials, userId: this.user.id}).then((result) => {
            if (result) {
              notificationService.success('Heslo bolo zmenené.');
              this.$emit('close');
            } else {
              this.unprotect();
            }
          }).catch(this.unprotect);
        }).catch(this.unprotect);
      },
      cancel() {
        this.$emit('close');
      },
      clear() {
        this.credentials = {};
        this.unprotect();
        this.$nextTick(() => {
          this.errors.clear();
        });
      },
      onClose() {
        this.clear();
      }
    },
    watch: {
      model: function (model) {
        if (model) {
          this.user = _.cloneDeep(model);
        }
      }
    }
  }
</script>
