<template>
  <div v-if="user">
    <modalWindow v-model="showModel" @ok="createSubmit()" @cancel="cancel()" @closed="onClose()" title="Editácia užívateľa" :cancelText="'Zrušïť'" :okText="'Uložiť'">
      <form>
        <div class="form-group" :class="{ 'has-error': errors.has('username') }">
          <label for="username">Prihlasovacie meno</label>
          <input class="form-control" id="username" placeholder="Zadaj prihlasovacie meno" v-model.trim="user.username" name="username" maxlength="100" v-validate="'required|min:5|max:100'">
          <p class="text-danger" v-if="errors.has('username')">{{ errors.first('username') }}</p>
        </div>

        <div class="form-group" :class="{ 'has-error': errors.has('password') }" v-if="!editMode">
          <label for="password">Heslo</label>
          <input type="password" class="form-control" id="password" placeholder="Zadaj aktuálne heslo" v-model.trim="user.password" name="password" maxlength="20" v-validate="'required|min:5|max:20'">
          <p class="text-danger" v-if="errors.has('password')">{{ errors.first('password') }}</p>
        </div>

        <div class="form-group" :class="{ 'has-error': errors.has('firstname') }">
          <label for="firstname">Meno</label>
          <input class="form-control" id="firstname" placeholder="Zadaj meno" v-model.trim="user.firstname" name="firstname" maxlength="100" v-validate="'required|min:3|max:100'">
          <p class="text-danger" v-if="errors.has('firstname')">{{ errors.first('firstname') }}</p>
        </div>

        <div class="form-group" :class="{ 'has-error': errors.has('surname') }">
          <label for="surname">Priezvisko</label>
          <input class="form-control" id="surname" placeholder="Zadaj priezvisko" v-model.trim="user.surname" name="surname" maxlength="100" v-validate="'required|min:3|max:100'">
          <p class="text-danger" v-if="errors.has('surname')">{{ errors.first('surname') }}</p>
        </div>

        <div class="form-group" :class="{ 'has-error': errors.has('email') }">
          <label for="email">E-mail</label>
          <input class="form-control" id="email" placeholder="Zadaj e-mail" v-model.trim="user.email" name="email" maxlength="30" v-validate="'min:6|max:30|email'">
          <p class="text-danger" v-if="errors.has('email')">{{ errors.first('email') }}</p>
        </div>

        <div class="form-group" :class="{ 'has-error': errors.has('phoneNumber') }">
          <label for="phoneNumber">Telefónne číslo</label>
          <input class="form-control" id="phoneNumber" placeholder="Zadaj telefónne číslo" v-model.trim="user.phoneNumber" name="phoneNumber" maxlength="30" v-validate="'min:9|max:30'">
          <p class="text-danger" v-if="errors.has('phoneNumber')">{{ errors.first('phoneNumber') }}</p>
        </div>

        <div class="form-group">
          <label>Užívateľské role</label>
          <div class="row">
            <div class="col-md-12">
              <v-select v-model="selectedRoles" multiple :options="roles"></v-select>
            </div>
          </div>
        </div>
      </form>
    </modalWindow>
  </div>
</template>

<script>
  import { mapState } from 'vuex';
  import { roles } from 'codelist/';
  import modal from 'vue-strap/src/Modal';
  import vSelect from 'vue-select';
  import _ from 'lodash';
  import notificationService from 'services/notificationService';

  let transformRoleFunction = role => ({label: role.label, value: role.id});

  export default {
    components: {modalWindow: modal, vSelect: vSelect},
    data: () => ({
      selectedRoles: [],
      roles: _.map(roles, transformRoleFunction),
      user: null
    }),
    computed: {
      editMode() {
          return this.user && this.user.id
      }
    },
    props: {
      showModel: {
        type: Boolean,
        default: false
      },
      model: {
        type: Object
      }
    },
    methods: {
      createSubmit() {
        this.protect();
        this.$validator.validateAll().then( () => {
          let operation;
          if (this.user.id) {
            operation = 'user/update';
          } else {
            operation = 'user/create';
          }
          this.$store.dispatch(operation, this.user).then(() => {
            notificationService.success('Užívateľ bol uložený.');
            this.$emit('close');
          }).catch(this.unprotect);
        }).catch(this.unprotect);
      },
      cancel() {
        this.$emit('close');
      },
      onClose() {
        this.selectedRoles = [];
        this.unprotect();
        this.$nextTick(() => {
          this.errors.clear();
        });
      }
    },
    watch: {
      model: function (model) {
          if (model) {
            this.user = _.cloneDeep(model);
            this.selectedRoles = _(roles).filter((item) => model.roles.includes(item.id)).map(transformRoleFunction).value();
          }
      },
      selectedRoles: function (selectedRoles) {
        this.user.roles = _.map(selectedRoles, 'value');
      }
    }
  }
</script>
