<template>
  <div>
    <div class="content-header">
      <h1>Firmy</h1>
    </div>
    <section class="content">
      <div class="box">
        <div class="box-body">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" v-model="query" class="form-control" placeholder="Vyhľadaj podľa názvu.">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <p>
                <button class="btn btn-success" type="button" @click="createShow()"><i class="fa fa-plus" aria-hidden="true"></i> Pridať firmu
                </button>
                <company-modal :show-model="showCreateModal" :model="selectedCompany" @close="hideModals()"></company-modal>
              </p>
            </div>
          </div>
          <div class="row" v-if="companies && companies.length">
            <div class="col-md-12">
              <table class="table">
                <thead>
                <tr>
                  <th>Názov</th>
                  <th>IČ</th>
                  <th>DIČ</th>
                  <th class="text-center">Smartbrains</th>
                  <th></th>
                </tr>
                </thead>
                <tbody>
                <template v-for="company in companies">
                  <tr :class="{inactive : !company.active}">
                    <td>{{ company.name }}</td>
                    <td>{{ company.companyId }}</td>
                    <td>{{ company.vatId }}</td>
                    <td class="text-center"><i class="fa" :class="{'fa-check text-success': company.ownershipped, 'fa-times text-danger': !company.ownershipped}"></i>
                    </td>

                  <td>
                      <button class="btn btn-xs btn-link" @click.prevent="editCompany(company)"><i class="fa fa-2x fa-pencil-square-o text-primary" title="Editovať"></i></button>
                      <button class="btn btn-xs btn-link" @click.prevent="toggleCompanyActive(company)"><i :class="{'fa-toggle-on': company.active, 'fa-toggle-off text-success': !company.active}" class="fa fa-2x" :title="company.active ? 'Deaktivovať' : 'Aktivovať'"></i></button>
                      <button class="btn btn-xs btn-link" @click.prevent="deleteCompany(company)"><i class="fa fa-2x fa-times text-danger" title="Zmazať"></i></button>
                    </td>
                  </tr>
                </template>
                </tbody>
              </table>
            </div>
          </div>
          <div v-else-if="loading" class="text-center">
            <i class="fa fa-spinner fa-pulse fa-3x"></i>
          </div>
          <div v-else class="row">
            <div class="col-md-12">
              <alert type="warning">Žiadna firma neexistuje.</alert>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

</template>

<script>
  import _ from 'lodash';
  import {alert} from 'vue-strap';
  import {mapState} from 'vuex';
  import companyModal from 'components/companyCreateModal';
  import notificationService from 'services/notificationService';
  import companyService from 'services/companyService';

  export default {
    components: {alert, companyModal},
    data: () => ({
      showCreateModal: false,
      showChangePasswordModal: false,
      selectedCompany: null,
      query: null
    }),
    computed: mapState({
      loading: (state) => state.app.loadingData,
      companies(state) {
        setTimeout(() => {})
        let allCompanies = state.company.items;
        if (this.query) {
          let regexp = new RegExp(this.query.toLowerCase(), "g");
          return allCompanies.filter(company => !!company.name.toLowerCase().match(regexp));
        } else {
          return allCompanies;
        }
      }
    }),
    methods: {
      createShow () {
        this.selectedCompany = companyService.newCompany();
        this.showCreateModal = true;
      },
      hideModals () {
        this.showCreateModal = false;
        this.showChangePasswordModal = false;
      },
      deleteCompany (company) {
        this.confirm('company.delete.confirmation', [company.name]).then(() => {
          this.$store.dispatch('company/delete', company.id).then((result) => {
              if (result) {
                notificationService.success('company.delete.confirmation');
              }
          }).catch(this.unprotect);
        });
      },
      toggleCompanyActive (company) {
          let action = company.active ? 'deactivate' : 'activate';
          this.$store.dispatch('company/' + action, company.id).then((result) => {
            if (result) {
              notificationService.success('company.' + action + '.success');
            } else {
              notificationService.error('error.' + action + '.deactivate');
            }
          });
      },
      editCompany (company) {
        this.selectedCompany = _.cloneDeep(company);
        this.showCreateModal = true;
      },
      changePassword (company) {
        this.selectedCompany = _.cloneDeep(company);
        this.showChangePasswordModal = true;
      }
    },
    created () {
      this.$store.dispatch('company/getAll')
    }
  }
</script>
