<template>
  <div>
    <div class="content-header">
      <h1>Môj profil - editácia</h1>
    </div>
    <section class="content">
      <div class="box">
        <div class="box-body">
          <form>
            <div class="row">
              <div class="col-md-3 col-md-offset-3">
                <div class="form-group" :class="{ 'has-error': errors.has('username') }">
                  <label for="username">Prihlasovacie meno</label>
                  <input class="form-control" id="username" placeholder="Zadaj prihlasovacie meno" v-model="user.username" name="username" maxlength="100" v-validate="'required|min:5|max:100'">
                  <p class="text-danger" v-if="errors.has('username')">{{ errors.first('username') }}</p>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-3 col-md-offset-3">
                <div class="form-group" :class="{ 'has-error': errors.has('firstname') }">
                  <label for="firstname">Meno</label>
                  <input class="form-control" id="firstname" placeholder="Zadaj meno" v-model="user.firstname" name="firstname" maxlength="100" v-validate="'required|min:3|max:100'">
                  <p class="text-danger" v-if="errors.has('firstname')">{{ errors.first('firstname') }}</p>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group" :class="{ 'has-error': errors.has('surname') }">
                  <label for="surname">Priezvisko</label>
                  <input class="form-control" id="surname" placeholder="Zadaj priezvisko" v-model="user.surname" name="surname" maxlength="100" v-validate="'required|min:3|max:100'">
                  <p class="text-danger" v-if="errors.has('surname')">{{ errors.first('surname') }}</p>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-3 col-md-offset-3">
                <div class="form-group" :class="{ 'has-error': errors.has('email') }">
                  <label for="email">E-mail</label>
                  <input class="form-control" id="email" placeholder="Zadaj e-mail" v-model="user.email" name="email" maxlength="30" v-validate="'min:6|max:30|email'">
                  <p class="text-danger" v-if="errors.has('email')">{{ errors.first('email') }}</p>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group" :class="{ 'has-error': errors.has('phoneNumber') }">
                  <label for="phoneNumber">Telefónne číslo</label>
                  <input class="form-control" id="phoneNumber" placeholder="Zadaj telefónne číslo" v-model="user.phoneNumber" name="phoneNumber" maxlength="30" v-validate="'min:9|max:30'">
                  <p class="text-danger" v-if="errors.has('phoneNumber')">{{ errors.first('phoneNumber') }}</p>
                </div>
              </div>
            </div>
            <hr>
            <div class="text-center">
              <router-link tag="button" to="/profile" class="btn btn-default">Zrušiť</router-link>
              <button class="btn btn-primary" type="submit" @click.prevent="save()">Uložiť</button>
            </div>
          </form>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
  import _ from 'lodash';
  import notificationService from 'services/notificationService';
  import { mapState } from 'vuex';

  export default {
    computed: mapState({
      user: (state) => _.cloneDeep(state.auth.user)
    }),
    methods: {
      save() {
        this.$validator.validateAll().then( () => {
          this.$store.dispatch('user/updateProfile', this.user).then((updatedUser) => {
              if (updatedUser) {
                notificationService.success('Profil bol úspešne uložený.');
                this.$router.push('/profile');
              }
          });
        }).catch(() => {
            //nothing
        });
      }
    }
  }
</script>
